{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Administration</title>
{% endblock %}

{% block content %}

<main class="mw8 pa3 center flex flex-column min-vh-100 main_admin">
    <h1 class="nes pv2 tc">Gestion du blog</h1>
    {{ include('admin/admin_menu.html.twig') }}
    <section>
        <div class="tc pv2">
            <a class="f6 grow-large no-underline br-pill ph3 pv2 mb2 white bg-black dib nes" href="add_post.html"><i
                    class="fas fa-plus-circle"></i> Ajouter un article</a>
        </div>

        <table class="w-100 collapse">
            <thead>
                <tr class="bb b--silver">
                    
                    <th class="tl pv3 tc ">Commentaires en attente de validation</th>
                    <th class="tl pv3  tc">Réponses de commentaires en attente de validation</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bb b--moon-gray">
                    <td class="tc pv4">
                        <a href='/admin/comments' class="link bg-black-90 white pa4 tracked-tight nes hover-bg-blue">{{countCommentsUnPublish}}</a>
                    </td>
                    <td class="tc">
                        <a href='/admin/comments' class="link bg-black-90 white pa4 tracked-tight nes hover-bg-blue">{{countReplyUnPublish}}</a>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </section>
    {% if countCommentsUnPublish > 0 %}
    <section>
        <h3 class="underline ">Derniers commentaires postés sur le blog</h3>
        <table class="w-100 collapse ph2">
            <thead>
                <tr class="bb b--silver">
                    <th class="tl pv3 ph2">Posté le :</th>
                    <th class="tc pv3 ph2">Titre de l'article</th>
                    <th class="tc pv3">Commentaire</th>
                    <th class="tc pv3">Administration</th>                   
                </tr>
            </thead>
            <tbody>
                {% for commentUnPublish in commentsUnPublish %}
                    <tr class="bb b--moon-gray hover-bg-lightest-blue">
                        <td class="pv3">{{commentUnPublish.created_at|date("d/m/Y H:i:s")}}</td>
                        <td class="tl pv3 tc">{{commentUnPublish.title_post}}</td>
                        <td class="tl pv3 tc">{{commentUnPublish.content}}</td>
                        <td class="flex flex-column flex-row-l tc-m w-100 justify-center">
                            <a href="/admin/comments/validate?id={{ commentUnPublish.id|e }}"
                                class="link br2 ba b--dark-orange bg-orange white pa2 mh3 mv1 bg-animate hover-bg-dark-orange border-box">Valider
                            </a>
                            <a href="/admin/comments/delete?id={{ commentUnPublish.id|e }}"
                                class="link br2 ba b--dark-red bg-red white pa2 mh3 mv1 bg-animate hover-bg-dark-red border-box">Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}
</main>

{% endblock %}