{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Connexion</title>
{% endblock %}

{% block content %}

<main class="pa4 black-80 mt4 min-h-100 main_login">
    <form class="measure center " method="post" action="/login">
        <fieldset id="login" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0 nes">Connexion</legend>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email-address">Nom d'utilisateur</label>
                <input class="pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="text"
                    name="username" id="pseudo" value={{ post ? post.username|e : '' }}>
            </div>
            {% if errors.username %}
                <div class="red pt1 i">{{ errors.username }}</div>
            {% endif %}
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="password">Mot de passe</label>
                <input class="pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="password"
                    name="password" id="password" {{ post ? post.password|e : '' }}>
            </div>
            {% if errors.password %}
                <div class="red pt1 i">{{ errors.password }}</div>
            {% endif %}
        </fieldset>
        {% if errors.login %}
            <div class="red pt1 i pb4">{{ errors.login }}</div>
        {% endif %}
        {% if errors.form_failed_login %}
                <div class="red pv2 i">{{ errors.form_failed_login }}</div>
            {% endif %}
        <div class="">
            <input
                class="ph3 pv2 input-reset b--black bg-transparent pointer f6 dib no-underline black bg-animate hover-bg-black hover-white nes"
                type="submit" value="Se connecter" name"submit">
        </div>
        <div class="lh-copy mt3">
            <a href="/register" class="f6 link dim black db">Inscription</a>
            <a href="/forgot_password" class="f6 link dim black db">Vous avez oublié votre mot de passe ?</a>
        </div>
    </form>
    {% if session.get('register') %}
        <div class="mt3 flex items-center justify-center pa4 bg-light-green ">
            <span class="i"> {{ session.show('register') }}</span>
        </div>
    {% endif %}  
    {% if session.get('confirm_email') %}
        <div class="mt3 flex items-center justify-center pa4 bg-light-green ">
            <span class="i"> {{ session.show('confirm_email') }}</span>
        </div>
    {% endif %}  
    {% if session.get('confirm_email_fail') %}
        <div class="mt3 flex items-center justify-center pa4 bg-light-red">
            <span class="i"> {{ session.show('confirm_email_fail') }}</span>
        </div>
    {% endif %}  
    {% if session.get('confirm_email_not_valid') %}
        <div class="mt3 flex items-center justify-center pa4 bg-light-red">
            <span class="i"> {{ session.show('confirm_email_not_valid') }}</span>
        </div>
    {% endif %}  
    {% if session.get('update_email') %}
        <div class="mt3 flex items-center justify-center pa4 bg-light-green">
            <span class="i"> {{ session.show('update_email') }}</span>
        </div>
    {% endif %}  
</main>


{% endblock %}