{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Mot de passe oublié</title>
{% endblock %}

{% block content %}

<main class="pa4 black-80 mt4 min-h-100 main_register">
    <form class="measure center" method="post" action="/changePassword" >
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0 nes">Changement de mot de passe</legend>
            <div class="mt3">
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="hidden"
                    name="email" id="email" value="{{get ? get.email|e : ''}}">
            </div>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="password">Votre nouveau mot de passe</label>
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="password"
                    name="password" id="password" value="{{ post ? post.password|e : '' }}">
            </div>
            {% if errors.password %}
                <div class="red pt1 i">{{ errors.password }}</div>
            {% endif %}
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="password">Confirmez le mot de passe</label>
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="password"
                    name="confirm_password" id="confirm_password" value="{{ post ? post.confirm_password|e : '' }}">
            </div>
            {% if errors.confirm_password %}
                <div class="red pt1 i">{{ errors.confirm_password }}</div>
            {% endif %}
        </fieldset>
        <div class="">
            <input
                class="ph3 pv2 input-reset b--black bg-transparent pointer f6 dib no-underline black bg-animate hover-bg-black hover-white nes"
                type="submit" value="Valider" name"submit">
        </div>
    </form>
</main>

{% endblock %}