{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Inscription</title>
{% endblock %}

{% block content %}

<main class="pa4 black-80 mt4 min-h-100 main_register">
    <form class="measure center" method="post" action="/register" >
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0 nes">Inscription</legend>
            <div class="mt3">
                <label class="db fw6  lh-copy f6" for="pseudo">Nom d'utilisateur</label>
                <input class="pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="text"
                    name="username" id="pseudo" value="{{ post ? post.username|e : '' }}">
            </div>
            {% if errors.username %}
                <div class="red pt1 i">{{ errors.username }}</div>
            {% endif %}
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email-address">Email</label>
                <input class="pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="text"
                    name="email" id="email" value="{{ post ? post.email|e : '' }}">
            </div>
            {% if errors.email %}
                <div class="red pt1 i">{{ errors.email }}</div>
            {% endif %}
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="password">Mot de passe</label>
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="password"
                    name="password" id="password" value="{{ post ? post.password|e : '' }}">
            </div>
            {% if errors.password %}
                <div class="red pt1 i">{{ errors.password }}</div>
            {% endif %}
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="password">Confirmez le mot de passe</label>
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="password"
                    name="confirm_password" id="confirm_password" value="{{ post ? post.confirm_password|e : '' }}">
            </div>
            {% if errors.confirm_password %}
                <div class="red pt1 i">{{ errors.confirm_password }}</div>
            {% endif %}
        </fieldset>
            {% if errors.form_failed_register %}
                <div class="red pv1 i">{{ errors.form_failed_register }}</div>
            {% endif %}
        <div class="">
            <input
                class="ph3 pv2 input-reset b--black bg-transparent pointer f6 dib no-underline black bg-animate hover-bg-black hover-white nes"
                type="submit" value="S'inscrire" name"submit">
        </div>
        <div class="lh-copy mt3">
            <a href="login.html" class="f6 link dim black db">Connexion</a>
            <a href="#0" class="f6 link dim black db">Vous avez oublié votre mot de passe ?</a>
        </div>
    </form>
</main>


{% endblock %}