{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Blog PHP</title>
{% endblock %}

{% block content %}
    <main>
        <section class="">
            <article class="mw8 center mb5 ">
                <h1 class="f2 tc">{{ post.title }}</h1>
                <img src="/uploads/{{ post.filename }}" class="w-100 f5 " alt="post_image">
                <ul class="list ph3 tc">
                    {% for categoryOfPost in categoriesOfPost %}
                        <li class="dib mr1 mb2 ">
                            <a href="/categories/{{categoryOfPost.slug}}?id={{categoryOfPost.id}}" class="f6 f5-ns b db pa2 link dim dark-gray ba b--black-20">{{categoryOfPost.name}}</a>
                        </li>                    
                    {% endfor %}
                </ul>
                <p class=" lh-copy i">{{ post.chapo|nl2br }}</p>
                <p class="lh-copy">{{ post.content|nl2br }}</p>
                <p class="tc f6 lh-copy mb4">Auteur : {{ post.autor }} - Publié le : {{post.update_at ? post.update_at|date("d/m/Y H:i:s") : post.created_at|date("d/m/Y H:i:s")}}</p>
                <hr class="bt bb b--black-10">
                <form class="pa4 black-80" method="post" action="/comments/add?id={{ post.id }}">
                    <div>
                        <input name='post_id'  type="hidden" value="{{ post.id }}" >
                        <label for="comment" class="f6 b db mb2 ">Laissez un commentaire</label>
                        <textarea id="comment" name="content" rows="5"
                            class="db  border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"
                            aria-describedby="comment-desc"></textarea>
                            {% if errors.content %}
                <div class="red pt1 i">{{ errors.content }}</div>
                {% endif %}
                        {% if user is empty %}
                        <small id="comment-desc" class="f6 black-60">
                        Vous devez être connecté pour laisser un commentaire : <a href="/login" class="link underline black-80 hover-blue b">Cliquez ici pour vous connecter.</a></small>
                        {% else %}   
                        <button type="submit" class="f7  grow no-underline  br-pill br ph3 pv2 mt2 dib  black bg-animate hover-bg-black hover-white nes">
                        Poster le commentaire</button>                    
                        {% endif %}                   
                </form>
                <ul class="list">
                    <div>
                        <li class="f5 b lh-title pb2 ">Romain BAETE, <small class="black-60 i f6">le 21/12/2020 à
                                12h53</small></li>
                        <li class="f6 pl5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                            aspernatur
                            laboriosam hic quae vel nulla ullam eos natus at nemo, optio ipsa error aut libero fugiat
                            harum aliquid totam officia voluptate! Pariatur natus, ipsum facere illum assumenda sint
                            dignissimos porro quas doloribus quam dolorem quibusdam explicabo inventore. At, nam
                            eveniet?.. ... ...</li>
                        <a href="#" class="dib mt2 pa2 ml5 no-underline i blue hover-white hover-bg-blue br-pill "><i
                                class="ph2 fas fa-reply fa-rotate-180"></i>Répondre</a>
                        <div class="ml5 mv3  br4 pa3 bg-white">
                            <li class=" f5 b lh-title pb2"><i class="fas fa-comment-dots blue"></i> Alan BADIER, <small
                                    class=" black-60 i f6">le 21/12/2020 à
                                    14h09</small></li>
                            <li class="f6 pl5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                aspernatur !!
                            </li>
                            <hr class="bt-0  b--black w-60 mv3 ">
                        </div>
                        <hr class="bt-0  b--light-blue w-60 mv3 ">
                    </div>

                    <div>
                        <li class="f5 b lh-title pb2 ">Florent ROUYAT, <small class="black-60 i f6">le 21/12/2020 à
                                15h53</small></li>
                        <li class="f6 pl5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore aspernatur
                            laboriosam hic quae vel nulla ullam eos natus at nemo, optio ipsa error aut libero fugiat
                            harum aliquid totam officia voluptate! Pariatur natus, ipsum facere illum assumenda sint
                            dignissimos porro quas doloribus quam dolorem quibusdam explicabo inventore. At, nam
                            eveniet?.. ... ...</li>
                        <a href="#" class="dib mt2 pa2 ml5 no-underline i blue hover-white hover-bg-blue br-pill "><i
                                class="ph2 fas fa-reply fa-rotate-180"></i>Répondre</a>
                        <div class="ml5  pa3">
                            <form class="">
                                <fieldset id="add_post" class="ba b--transparent ph0 mh0">
                                    <div class="mv2">
                                        <textarea
                                            class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100"
                                            type="text" rows="3" name="contenu" id="contenu"></textarea>
                                    </div>
                                </fieldset>
                                <div class="">
                                    <input class="f7 no-underline black hover-bg-black hover-white pa2 nes"
                                        type="submit" value="Commenter">
                                </div>
                            </form>
                        </div>
                        <hr class="bt-0  b--light-blue w-60  mv3">
                    </div>
                </ul>

            </article>
        </section>
    </main>
    
{% endblock %}