{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Blog PHP</title>
{% endblock %}

{% block content %}
    <main>
        <section class="">
            <article class="mw8 center mb5 ">
                <h1 class="f2 tc">{{ post.title }}</h1>
                <img src="/uploads/{{ post.filename }}" class="w-100 f5 " alt="post_image">
                <ul class="list ph3 tc">
                    {% for categoryOfPost in categoriesOfPost %}
                        <li class="dib mr1 mb2 ">
                            <a href="/categories/{{categoryOfPost.slug}}?id={{categoryOfPost.id}}" class="f6 f5-ns b db pa2 link dim dark-gray ba b--black-20">{{categoryOfPost.name}}</a>
                        </li>                    
                    {% endfor %}
                </ul>
                <p class=" lh-copy i">{{ post.chapo|nl2br }}</p>
                <p class="lh-copy">{{ post.content|nl2br }}</p>
                <p class="tc f6 lh-copy mb4">Auteur : {{ post.autor }} - Publié le : {{post.update_at ? post.update_at|date("d/m/Y H:i:s") : post.created_at|date("d/m/Y H:i:s")}}</p>
                <hr class="bt bb b--black-10">
                    {% if user is empty %}
                        <small id="comment-desc" class="f6 black-60">
                        Vous devez être connecté pour laisser un commentaire : <a href="/login" class="link underline black-80 hover-blue b">Cliquez ici pour vous connecter.</a></small>
                    {% else %}   
                        <form class="pa4 black-80" method="post" >
                            <input name='post_id'  type="hidden" value="{{ post.id }}" >
                            <label for="comment" class="f6 b db mb2 ">Laissez un commentaire</label>
                            <textarea id="comment" name="content" rows="5"
                                class="db  border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"
                                aria-describedby="comment-desc">{{ content ? content|e : '' }}</textarea>
                            {% if errors.content %}
                                <div class="red pt1 i">{{ errors.content }}</div>
                            {% endif %}
                            <button name="post_comment" value="" type="submit" class="f7  grow no-underline  br-pill br ph3 pv2 mt2 dib  black bg-animate hover-bg-black hover-white nes">
                            Poster le commentaire</button>   
                        </form>                 
                        {% endif %}                                   
                <ul class="list">
                {% for comment in comments %}
                    {{ include('blog/single/comment.html.twig') }}
                {% endfor %}
                </ul>

            </article>
        </section>
    </main>

<script>
$(document).ready(function(){
$(document).on('click', '#reply-btn',function (e) {
    e.preventDefault();
    var comment_id = $(this).data('id');
    console.log(comment_id)
    $(this).parent().siblings('form#comment_reply_form_' + comment_id).toggle(500);
})});
</script>

    
{% endblock %}